@import url('https://fonts.googleapis.com/css?family=Fondamento|Princess+Sofia|Raleway&display=swap');

/* General Styling */
body {
  background: linear-gradient(#116599, 25%, #0B133D);
  color: #FFFFFF;
  font-family: sans-serif;
  width: 80%;
  margin: 0 auto;
}



/* Font Styling*/
.cast, .info {
  font-family: 'Raleway', sans-serif;

}

h1 {
  font-family: 'Princess Sofia', cursive;
  font-size: 5rem;
  text-align: center;
}

.movie-info {
  font-family: 'Fondamento', cursive;
  font-size: 2rem;
  margin: 0;
}

blockquote {
  font-family: 'Fondamento', cursive;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;

}

  .synopsis {
  font-size: 1rem;
  margin-bottom: 2.5rem;
}


}




/* Link Styling */
a:link {
  color: CornflowerBlue;
}

a:active {
  color: blue;
}

a:visited {
  color: purple;
}

a:focus, a:hover {
  color: darkcyan;
}




/* Parent Container */
main { 
    display: grid;
    grid-template-columns: 1fr;
  }
  



/* Flex Container */
.flex-container {
  display: flex;
}

.info {
  background: rgba(255, 255, 255, 0.035);
  width: 30%;
  margin-top: 0;
  margin-right: 2rem;
  padding: 1.5rem;
}




/* Cast of the Movie */
h2 {
    font-size: .85rem;
  }

.cast {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.035);
    margin: 0;

  }
  
.anthony {
  margin-top: -7px;
}

figcaption {
  font-size: .85rem;
  font-style: italic;
  color: powderblue;
}

figure {
  margin-top: 1.5rem;
  }
  
figure img {
    object-fit: cover;
    width: 70px;
    height: 100px;
    overflow: hidden;
    position: center;    
  }
  
  
  

/* Custom UI Controls */

/* change color of play button */
.plyr__control--overlaid {
    background: lightskyblue;
}

/* change color of progress bar */
.plyr--full-ui input[type="range"] {
    color: lightskyblue;
}

/* button on focus */
.plyr--video .plyr__control:hover {
    background: cornflowerblue;
}

/* change player controls */
.plyr--video .plyr__controls {
  color: cornflowerblue;
}

/* player size */
.plyr {
  width: 85%;
  margin: 0 auto;
}




  /* Media Queries */
  
/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) and (max-width: 26em) { 

  .flex-container {
      flex-direction: column;

  }

  .info {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .plyr, .info, .cast {
    width: 90%;
  }
  

  .cast {
    justify-content: space-around;

  }
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em) and (max-width: 72em) {
    
  .flex-container {
    flex-direction: column;
    align-items: center;

  }
  
  .info {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .plyr, .info, .cast {
    width: 90%;
  }

  .cast {
    justify-content: space-around; 
    align-content: center;

  }


}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em) and (max-width: 90em)  { 
  
.flex-container {
  flex-direction: row;
}




}




/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
.flex-container {
  flex-direction: row;
}

}